.wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top:0;
    right:0;
    background-color: rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.new-task{
    width: 650px;
    padding: 1rem;
    min-height: 400px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.new-task form{
    display: flex;
    gap: .5rem; 
    flex-direction: column;
}

.form-input{
    display: flex;
    flex-direction: column;
}

.form-input input, .form-input textarea{
    border:solid 2px #DFE1E6;
    background-color: #FAFBFC;
    min-height: 40px;
    border-radius: var(--border-radius);
    padding: 0 .5rem;
}
